<section #canDo id="can-do" class="visibility-hidden">
    
    <div class="container px-5 py-14 mx-auto">
        
        <div class="flex flex-wrap w-full mb-12 flex-col items-center text-center">
            <h1 class="outline-text-h1 sm:text-5xl text-4xl font-semibold title-font mb-2 color-title"> {{ 'can-do.title' | translate }}
            </h1>
        </div>

        <div class="flex flex-wrap -m-4">
            
            <div class="xl:w-1/2 md:w-1/2 p-4">
                <div class="border-double border-4 p-6 rounded-lg color-border">
                    <div
                        class="w-10 h-10 inline-flex items-center justify-center rounded-full mb-4 color-icon">
                        <fa-icon class="fa-xl" [icon]="faLaptop"></fa-icon>
                    </div>
                    <h2 class="text-lg font-bold title-font mb-2 color-subtitle">Web Apps</h2>
                    <p class="leading-relaxed text-base color-content"> {{ 'can-do.content1' | translate }} </p>
                </div>
            </div>

            <div class="xl:w-1/2 md:w-1/2 p-4">
                <div class="border-double border-4 p-6 rounded-lg color-border">
                    <div
                        class="w-10 h-10 inline-flex items-center justify-center rounded-full mb-4 color-icon">
                        <fa-icon class="fa-xl" [icon]="faMobile"></fa-icon>
                    </div>
                    <h2 class="text-lg font-bold title-font mb-2 color-subtitle">PWA</h2>
                    <p class="leading-relaxed text-base color-content"> {{ 'can-do.content2' | translate }} </p>
                </div>
            </div>   

        </div>
    </div>