<section #canDo id="can-do" class="text-gray-600 body-font visibility-hidden">
    
    <div class="container px-5 py-14 mx-auto">
        
        <div class="flex flex-wrap w-full mb-12 flex-col items-center text-center">
            <h1 class="outline-text-h1 sm:text-5xl text-4xl font-semibold title-font mb-2 text-slate-200">¿Qué puedo hacer?
            </h1>
        </div>

        <div class="flex flex-wrap -m-4">
            
            <div class="xl:w-1/2 md:w-1/2 p-4">
                <div class="border-double border-4 border-[#eaad4b] p-6 rounded-lg bg-black/50">
                    <div
                        class="w-10 h-10 inline-flex items-center justify-center rounded-full mb-4 bg-[#21213b] text-[#eaad4b] hover:bg-gradient-to-r from-[#3dcafd] to-[#2ef9ec] hover:text-[#21213b]">
                        <fa-icon class="fa-xl" [icon]="faLaptop"></fa-icon>
                    </div>
                    <h2 class="text-lg font-bold title-font mb-2 text-[#eaad4b]">Web Apps</h2>
                    <p class="leading-relaxed text-base text-slate-200">Creación de aplicaciones web amigables y escalables</p>
                </div>
            </div>

            <div class="xl:w-1/2 md:w-1/2 p-4">
                <div class="border-double border-4 border-[#eaad4b] p-6 rounded-lg bg-black/50">
                    <div
                        class="w-10 h-10 inline-flex items-center justify-center rounded-full mb-4 bg-[#21213b] text-[#eaad4b] hover:bg-gradient-to-r from-[#3dcafd] to-[#2ef9ec] hover:text-[#21213b]">
                        <fa-icon class="fa-xl" [icon]="faMobile"></fa-icon>
                    </div>
                    <h2 class="text-lg font-bold title-font mb-2 text-[#eaad4b]">PWA</h2>
                    <p class="leading-relaxed text-base text-slate-200">Creación de aplicaciones web instalables en dispositivos
                        moviles</p>
                </div>
            </div>   

        </div>
    </div>